    <link rel="stylesheet" href="/lib/bootstrap-4.0.0-beta-dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src="/lib/jquery-3.2.1/jquery-3.2.1.min.js" charset="utf-8"></script>
      <script src="/lib/bootstrap-4.0.0-beta-dist/js/bootstrap.min.js" charset="utf-8"></script>
    </body>
</html>
