      <p>Trademark YelpCamp 2017</p>
      <link rel="stylesheet" href="/lib/bootstrap-4.0.0-beta-dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="/lib/font-awesome-4.7.0/css/font-awesome.min.css">
      <script src="/lib/popper.js-1.12.5/dist/umd/popper.min.js" charset="utf-8"></script>
      <script src="/lib/jquery-3.2.1/jquery-3.2.1.min.js" charset="utf-8"></script>
      <script src="/lib/bootstrap-4.0.0-beta-dist/js/bootstrap.min.js" charset="utf-8"></script>
    </body>
</html>
