<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To YelpCamp!</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p><a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a></p>
        </div>
    </header>
        
    <div class="row text-center">
            
        

        <% campgrounds.forEach(function(campground){ %>
        <div class="col-lg-3 col-md-4 col-xs6 mb-3 ">
            <div href="#" class="d-block img-thumbnail ">
                <img class="img-fluid " src="<%= campground.image %>" alt="">
                <h4><%= campground.name; %></h4>
                <p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
            </p>
            </div>
            
            
        </div>
        <% }); %>
        
    </div>
</div>

<% include partials/footer %>

