<h1>This is the secret page!</h1>

<img src="http://cdn4.newsner.com/attachments/images/000/274/292/newsner_default/mouse1.jpg" alt="">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>